services:
  db:
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_USER: ia
      POSTGRES_PASSWORD: ia
      POSTGRES_DB: ia
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: